html, body {
  height: 100%
}

body {
  background-color: #0a775f;
}

#outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 50px;
}

#inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: #f2f2f2;
  min-height: 400px;
  padding: 50px;
  border-radius: 5px;
  margin-bottom: 50px;
}

#random {
  margin-top: 20px;
  margin-bottom: 20px;
}

#results a p, #results a:hover {
  color: #292b2c;
  text-decoration: none;
}

#results div {
padding: 10px 0 10px 0;
}
